@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Staatliches&display=swap');

*{
    margin: 0;
    padding: 0;
    
}

:root{
    /*CORES*/
    --cor-cabecalho: #535971 ;
    --cor-fundo: #EFEFEF;
    --cor-linha: #E6E6F0;
    --cor-titulo: #535971;
    --cor-subtitulo: #4E4958;
    --cor-descricao: #C1BCCC;
    --cor-caixa: #FAFAFC;
    --cor-botao: #FF5374; 

    /*FONTES*/
    --font-titulo: 'Staatliches', cursive;
    --font-subtitulo: 'Poppins', sans-serif;
}

body::before{
    content: '';
    width: 100%;
    height: 436px;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: var(--cor-cabecalho);
}

body{
    background-color: var(--cor-fundo);
}

h1, p {
    color: white;
}

h1{
    font-family: var(--font-titulo);
    font-size: 48px;
    line-height: 60px;
    padding:  140px 0 18px 345px; 
    font-weight: 400;
    
   
}
h2{
    font-family: var(--font-titulo);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: var(--cor-titulo);
    margin-bottom: 11px;
}

p{
    font-family: var(--font-subtitulo);
    font-weight: 400px;
    font-size: 20px;
    line-height: 30px;
    padding: 0 678px 58px 345px;
    width: 417px;
}

form{
    background-color: white;
    width: 750px;
    height: 1084px;
    left: 345px;
    top: 320px;
    border-radius: 20px 20px 0 0;
    margin: 0 345px 528px 345px ;
    padding: 64px;
    box-sizing: border-box;
}

fieldset{
    border: none;
   
}

fieldset legend {
    font-family: var(--font-titulo);
    color: var(--cor-titulo);
    font-size: 24px;
    line-height: 34px;
    font-weight: 400;
    width: 100%;
    border-bottom: 1px solid var(--cor-linha); ;
    padding-bottom: 16px;
    margin-bottom: 28px;
    padding-top: 10px;
    
}



.input-wrapper{
   display: flex;
   flex-direction: column;
}


.input-wrapper label{
    
    font-family: var(--font-subtitulo);
    color: var(--cor-subtitulo);
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
}



.input-wrapper input{
    height: 56px;
    top: 502px;
    border-radius: 8px;
    border: 1px solid var(--cor-linha);
    border-radius: 8px;
    background-color: var(--cor-caixa);
    box-decoration-break: none;
    margin-bottom: 16px;
    padding: 0 24px; /*onde o texto vai ficar dentro do campo*/
}

.input-wrapper label span{
    margin-left: 9px;
    color: var(--cor-descricao);
}

.name{
    display: flex;
    gap: 22px;
    
}

.name input{
    height: 56px;
   width: 250px;
}

.mentoria{
    display: flex;
    gap: 10px;
}

.mentoria > div:nth-child(1){
    width: 100%;
    padding-right: 22px;
}

footer{
    background-color: var(--cor-cabecalho);
    width: 750px;
    height: 160px;
    position: absolute;
    border-radius: 0 0 20px 20px;
    left: 47.4%;
    transform: translate(-50%, -50%);
}

.botao{
   margin: 50px 70px;
    width: 608px;
    height: 55px;
    
}

footer .botao{
    background: var(--cor-botao);
    color: white;
    border-radius: 20px;
    border-style: none;
}
   